@mixin form-style {
    .title {
        text-align: center;
        padding: 2rem;
        font-weight: bold;
    }

    .social {
        display: flex;
        align-items: center;
        justify-content: center;

        .prem {
            display: flex;
            justify-content: space-between;

            width: 40%;

            @media only screen and (max-width: 900px) {
                width: 80%;
            }

            .social-buttons {
                width: 48%;
            }
        }
    }
}