@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Combo&display=swap');
@import '@/sass/mixin.scss';

/* SCSS Colors */
$color-primary: #CEFFBA;
$color-background: #eeffe7;
$color-background-light: #d5ebd780;
$text-color: rgb(6, 6, 92);
$form-control-background: rgba(142, 238, 142, 0.1);
$input-box-border-color: rgb(83, 117, 3);
$black: #000000;
$white: #fff;
$dark-gray: #ddd;
$light-gray: #d0d0d0;
$gray-background: #ddd5;
$light-red: rgba(252, 97, 97, 0.788);

/* Gradient colors */
$theme-gradient: linear-gradient(90deg, rgba(206, 255, 186, 1) 20%, rgba(176, 237, 163, 1) 37%, rgba(93, 172, 79, 1) 100%);
$google-gradient: linear-gradient(90deg,
    rgba(247, 0, 0, 0.8) 10%,
    rgba(0, 0, 247, 0.8509485094850948) 41%,
    rgba(254, 255, 0, 0.6097560975609756) 61%,
    rgba(0, 200, 0, 0.6097560975609756) 79%);
$facebook-gradient: linear-gradient(90deg,
    rgba(2, 193, 247, 0.4552845528455285) 28%,
    rgba(59, 108, 247, 0.8509485094850948) 75%);
$button-gradient: linear-gradient(90deg,
    rgba(45, 209, 144, 0.8184281842818428) 20%,
    rgba(32, 131, 3, 0.6097560975609756) 86%);
$green-button: linear-gradient(90deg,
    rgba(45, 209, 144, 1) 20%,
    rgba(32, 131, 3, 1) 86%);
$dark-gray-gradient: linear-gradient(90deg,
    rgba(139, 158, 157, 0.6666666666666667) 47%,
    rgba(167, 189, 186, 0.6422764227642277) 60%,
    rgba(181, 204, 196, 0.5962059620596206) 68%);
$light-red-gradient: linear-gradient(45deg,
    rgba(254, 79, 79, 0.2) 40%,
    rgba(242, 120, 55, 0.2) 60%,
    rgba(241, 122, 120, 0.2) 68%);
$green-blue-gradient: linear-gradient(90deg,
    rgba(66, 173, 35, 0.7208672086720866) 19%,
    rgba(2, 245, 247, 0.8157181571815718) 44%,
    rgba(47, 186, 149, 0.8509485094850948) 75%);
$blue-gradient: linear-gradient(to right, #2193b0, #6dd5ed);
$red-gradient: linear-gradient(to left, #e52d27, #c91c22);
$green-gradient:linear-gradient(to right, #56ab2f, #a8e063);
$gray-gradient:linear-gradient(to left, #bdc3c7, #506981);

/* FONT FAMILY */
$combo: 'Combo';