@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');

/* SCSS HEX */
$input-background: #f8f8f8;
$light-green: #00ea90;
$color-primary: #16154d;
$color-secondary: #1a74ea;
$color-tertiary: #dde0e9;
$color-accent: #cadfe2;
$color-grey-light: #e6e6e6;
$color-grey-lighter: #f4f4f4;